main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(218, 220, 220);

  section {
    padding: 50px 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    h1 {
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
    }
  }
}
