.container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #eaeff4;
  border-radius: 25px;
  padding: 50px;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      display: block;
      padding: 15px;
      border: 0;
      outline: none;
      background-color: #294a6a;
      border-radius: 8px;
      color: #fff;
      font-size: 22px;
      cursor: pointer;
    }
  }
}
